@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommySoft-Light.woff2') format('woff2'),
        url('MADETommySoft-Light.woff') format('woff'),
        url('MADETommySoft-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommySoft-Bold.woff2') format('woff2'),
        url('MADETommySoft-Bold.woff') format('woff'),
        url('MADETommySoft-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommySoft-Medium.woff2') format('woff2'),
        url('MADETommySoft-Medium.woff') format('woff'),
        url('MADETommySoft-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommySoft.woff2') format('woff2'),
        url('MADETommySoft.woff') format('woff'),
        url('MADETommySoft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

