/**
 * @Main scss for (Template/Project Name)
 * @project     - Growers DAO
 * @author      - 
 * @created_by  - Muhammad Mahdiul Islam
 * @created_at  - 
 * @modified_by -
 */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Inter&display=swap");
@font-face {
  font-family: "MADE Tommy Soft";
  src: url("../fonts/MADETommySoft-Light.woff2") format("woff2"), url("../fonts/MADETommySoft-Light.woff") format("woff"), url("../fonts/MADETommySoft-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE Tommy Soft";
  src: url("../fonts/MADETommySoft-Bold.woff2") format("woff2"), url("../fonts/MADETommySoft-Bold.woff") format("woff"), url("../fonts/MADETommySoft-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE Tommy Soft";
  src: url("../fonts/MADETommySoft-Medium.woff2") format("woff2"), url("../fonts/MADETommySoft-Medium.woff") format("woff"), url("../fonts/MADETommySoft-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MADE Tommy Soft";
  src: url("../fonts/MADETommySoft.woff2") format("woff2"), url("../fonts/MADETommySoft.woff") format("woff"), url("../fonts/MADETommySoft.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* fonts import -END */
.ff-inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ff-allison {
  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
}

.ff-tommy {
  font-family: "MADE Tommy Soft";
}

/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

span {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input:focus-visible {
  outline: none;
}

button {
  border: none;
  background: transparent;
}

:root {
  --primary: #8EE032;
  --primary-dark: #95FF1F;
  --secondary: #FFA620;
  --white: #fff;
  --dark-1: #142625;
  --dark-5: #CED9D7;
  --dark-6: #E6EEED;
  --dark-7: #F9F9F9;
}

/* reset, root - END */
@media (min-width: 1090px) {
  .container {
    max-width: 1110px;
  }
}

/* helper , base classes */
.text-clr-primary {
  color: var(--primary);
}

.text-clr-dark {
  color: var(--primary-dark);
}

.text-clr-secondary {
  color: var(--secondary);
}

.text-clr-white {
  color: var(--white);
}

.text-clr-dark1 {
  color: var(--dark-1);
}

.text-clr-dark5 {
  color: var(--dark-5);
}

.text-clr-dark6 {
  color: var(--dark-6);
}

.text-clr-dark7 {
  color: var(--dark-7);
}

.bg-clr-purple {
  background-color: var(--purple);
}

.bg-clr-purple-deep {
  background-color: var(--purple-deep);
}

.bg-clr-blue-light {
  background-color: var(--blue-light);
}

.bg-clr-blue-deep {
  background-color: var(--blue-deep);
}

.fs-14 {
  font-size: 14px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-36 {
  font-size: 36px;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 48px;
}

.fs-56 {
  font-size: 56px;
}

/*font weight*/
.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.lh-normal {
  line-height: normal !important;
}

.lh-20 {
  line-height: 20px !important;
}

.lh-25 {
  line-height: 25px !important;
}

.lh-28 {
  line-height: 28px !important;
}

.lh-34 {
  line-height: 34px !important;
}

.lh-36 {
  line-height: 36px !important;
}

.lh-42 {
  line-height: 42px !important;
}

.lh-46 {
  line-height: 46px !important;
}

.lh-56 {
  line-height: 56px !important;
}

.lh-58 {
  line-height: 58px !important;
}

.lh-66 {
  line-height: 66px !important;
}

.py-18 {
  padding-block: 18px;
}

.primary-btn {
  padding: 16px 46px 17px 40px;
  background: var(--secondary);
  border-radius: 12px;
  font-family: "MADE Tommy Soft";
  color: var(--dark-1);
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

header .nav-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  width: 100%;
  z-index: 1000;
}
header .nav-wrap .navbar {
  padding-inline: 68px;
  padding-top: 30px;
}
header .nav-wrap .navbar .social-icons {
  gap: 12px;
}
header .nav-wrap .navbar .social-icons svg {
  transition: all 0.3s linear;
}
header .nav-wrap .navbar .social-icons svg:hover {
  fill: var(--secondary) !important;
}
header .nav-wrap .navbar .social-icons svg:hover circle {
  opacity: 100% !important;
  stroke: var(--secondary);
}
header .nav-wrap .navbar .social-icons svg:hover path {
  fill: black;
}
header .nav-wrap .navbar .navbar-brand {
  margin: 0;
  padding: 0;
}
header .nav-wrap .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: var(--white);
  font-family: "MADE Tommy Soft";
  font-weight: 500;
  line-height: 25px;
  padding: 0;
  padding-right: 47px;
}
header .nav-wrap .navbar .collapse .navbar-nav .nav-item .menu-right {
  padding-right: 50px !important;
}
header .nav-wrap .navbar .collapse .navbar-nav .nav-item .active {
  color: var(--primary);
}
header .nav-wrap .navbar .wallet-btn {
  padding: 11px 28px 12px 28px;
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--dark-1);
  font-family: "MADE Tommy Soft";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.hero-wrapper {
  position: relative;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-block: 275px 240px;
}
.hero-wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../img/hero-p-tree.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 449px;
  bottom: -80px;
  z-index: 2;
}
.hero-wrapper::before {
  position: absolute;
  content: "";
  background-image: url("../img/hero-p1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 534px;
  height: 1177px;
  top: 161px;
  z-index: 3;
}
.hero-wrapper .content {
  position: relative;
}
.hero-wrapper .content::before {
  position: absolute;
  content: "";
  background-image: url("../img/banner-p.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 189.872px;
  height: 194.934px;
  top: -120px;
  left: -120px;
}
.hero-wrapper .content h2 {
  opacity: 0.9;
  padding-bottom: 20px;
}
.hero-wrapper .content h1 {
  max-width: 650px;
}
.hero-wrapper .content h5 {
  max-width: 540px;
  opacity: 0.9;
  padding-block: 25px 50px;
}

.goal-wrapper {
  background-color: #0F1E1C;
  padding-block: 26px 120px;
  z-index: 2;
}
.goal-wrapper .content {
  position: relative;
  z-index: 10;
}
.goal-wrapper .content::after {
  position: absolute;
  content: "";
  background-image: url("../img/goal-p-leaf.png");
  background-repeat: no-repeat;
  height: 454px;
  width: 384px;
  right: -125px;
  top: -60px;
  z-index: -2;
}
.goal-wrapper .content h3 {
  opacity: 0.9;
}
.goal-wrapper .content h2 {
  padding-block: 15px 20px;
}
.goal-wrapper .content p {
  opacity: 0.9;
  max-width: 480px;
}

.membership-wrapper {
  background-image: url("../img/membership-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-block: 120px;
  position: relative;
  z-index: 13;
}
.membership-wrapper::before {
  position: absolute;
  content: "";
  background-image: url("../img/membership-p1.png");
  background-repeat: no-repeat;
  width: 188px;
  height: 257px;
  left: 0;
  top: 55px;
}
.membership-wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../img/membership-p2.png");
  background-repeat: no-repeat;
  width: 92px;
  height: 115px;
  right: 0;
  top: 136px;
}
.membership-wrapper .content h3 {
  opacity: 0.9;
}
.membership-wrapper .content h2 {
  padding-block: 15px 24px;
}
.membership-wrapper .content p {
  opacity: 0.9;
}
.membership-wrapper .content h4 {
  padding-block: 30px 20px;
}
.membership-wrapper .content .py-12 {
  padding-block: 12px;
}
.membership-wrapper .content .highlights {
  display: inline-flex;
  align-items: center;
  gap: 17px;
}
.membership-wrapper .content .highlights h5 {
  opacity: 0.9;
}
.membership-wrapper .image {
  position: relative;
  z-index: 12;
}
.membership-wrapper .image::after {
  position: absolute;
  content: "";
  background-image: url("../img/membership-image-p.png");
  background-repeat: no-repeat;
  height: 279px;
  width: 267px;
  bottom: 20px;
  right: -160px;
  z-index: -11;
}/*# sourceMappingURL=style.css.map */